.input {
  composes: subtleBorderRadius from '../../globalStyles/effect.module.css';
  composes: xSmall from '../../globalStyles/typography.module.css';
  background-color: var(--bg-color-secondary);
  color: var(--text-color-primary);
  width: 100%;
  padding: 1rem 2.5rem 1rem 3rem;
}
