.input {
  composes: subtleBorderRadius from '../../globalStyles/effect.module.css';
  composes: widthAllSpace from '../../globalStyles/layout.module.css';
  background-color: var(--bg-color-secondary);
  color: var(--text-color-primary);
  padding: 0.8rem;
}

.inputSecondary {
  composes: input;
  composes: xxSmall from '../../globalStyles/typography.module.css';
  padding: 0.625rem 1.8rem 0.625rem 2rem;
}

.inputPrimary {
  composes: input;
  composes: xSmall from '../../globalStyles/typography.module.css';
  padding: 1rem 2.5rem 1rem 3rem;
}
