.container {
  composes: contentSeparatorTop from '../../globalStyles/effect.module.css';
  background-color: var(--bg-color-primary);
  padding: 3.75rem 0;
}

.wrapper {
  composes: marginCenter from '../../globalStyles/layout.module.css';
  max-width: 43.75rem;
  padding: 0px 1rem;
}

.header {
  margin-bottom: 2.5rem;
}

.title {
  composes: xLarge from '../../globalStyles/typography.module.css';
}

.subtitle {
  composes: medium from '../../globalStyles/typography.module.css';
  font-weight: normal;
  margin: 0.625rem 0 1.25rem;
}

.image {
  composes: subtleBorderRadius from '../../globalStyles/effect.module.css';
  margin: 2.5rem 0;
}

.name {
  composes: standOutSecundary from '../../globalStyles/typography.module.css';
  color: var(--standOut-color);
}

.paragraph {
  composes: medium from '../../globalStyles/typography.module.css';
  composes: subtleLineHeight from '../../globalStyles/typography.module.css';
  color: var(--text-color-secondary);
}

.paragraph ~ .paragraph {
  margin-top: 1.25rem;
}

.share {
  composes: containerFlex from '../../globalStyles/layout.module.css';
  composes: spaceBetween from '../../globalStyles/layout.module.css';
  composes: contentSeparatorBottom from '../../globalStyles/effect.module.css';
  padding-bottom: 0.625rem;
  margin: 2.5rem 0;
}

.category {
  composes: standOutPrimary from '../../globalStyles/typography.module.css';
  color: var(--standOut-color);
}

.category:hover,
.name:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 590px) {
  .paragraph,
  .subtitle {
    font-size: 1.125rem;
  }
}
