.button {
  composes: subtleBorderRadius from '../../globalStyles/effect.module.css';
  composes: smoothTransition from '../../globalStyles/effect.module.css';
  composes: marginCenter from '../../globalStyles/layout.module.css';
  composes: centralize from '../../globalStyles/typography.module.css';
  display: block;
  background-color: var(--standOut-color);
  max-width: 9rem;
  padding: 0.8rem 1rem;
}

.button:hover {
  transform: scale(1.06);
}
