:root {
  --bg-color-primary: #fff;
  --bg-color-secondary: #d9e0e6;
  --text-color-primary: #191c20;
  --text-color-secondary: #4a4a4a;
  --standOut-color: #6be067;
  --color-error: #f31;
  --color-skeleton-primary: #eee;
  --color-skeleton-secondary: var(--bg-color-primary);
}

[data-theme='dark'] {
  --bg-color-primary: #13161b;
  --bg-color-secondary: #191c20;
  --text-color-primary: #fff;
  --text-color-secondary: #cccccc;
  --color-skeleton-primary: #50535a;
  --color-skeleton-secondary: #656871;
}
