.subtleBorderRadius {
  border-radius: 6px;
  overflow: hidden;
}

.denseBorderRadius {
  border-radius: 1rem;
}

.contentSeparatorTop {
  border-top: 2px solid currentColor;
}

.contentSeparatorBottom {
  border-bottom: 2px solid currentColor;
}

.smoothTransition {
  transition: transform 0.4s ease;
}
