.marginCenter {
  margin: 0 auto;
}

.displayFlex {
  display: flex;
}

.displayGrid {
  display: grid;
}

.gapRegular {
  gap: 1rem;
}

.gapMedium {
  gap: 1.25rem;
}

.alignItemsCenter {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.width1 {
  width: 1rem;
}

.width44 {
  max-width: 44rem;
}

.width75 {
  max-width: 75rem;
}

.widthAllSpace {
  width: 100%;
}
