.xxLarge {
  font-size: 3.125rem;
}

.xLarge {
  font-size: 2rem;
}

.large {
  font-size: 1.5rem;
}

.medium {
  font-size: 1.25rem;
}

.small {
  font-size: 1.125rem;
}

.xSmall {
  font-size: 1rem;
}

.xxSmall {
  font-size: 0.875rem;
}

.centralize {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.standOutPrimary {
  composes: bold;
  text-transform: uppercase;
  letter-spacing: 0.083em;
}

.standOutSecundary {
  composes: bold;
  text-transform: capitalize;
}

.subtleLineHeight {
  line-height: 1.5;
}
