.f1 {
  font-size: 3.125rem;
}

.f2 {
  font-size: 2rem;
}

.f3 {
  font-size: 1.5rem;
}

.f4 {
  font-size: 1.25rem;
}

.f5 {
  font-size: 1.125rem;
}

.f6 {
  font-size: 1rem;
}

.f7 {
  font-size: 0.875rem;
}
