.card {
  composes: displayFlex from '../../globalStyles/layout.module.css';
  composes: alignItemsCenter from '../../globalStyles/layout.module.css';
  position: relative from '../../globalStyles/layout.module.css';
}

.image {
  flex-shrink: 0;
  width: 7.5rem;
  height: 7.5rem;
  background-color: tomato;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.info {
  margin-left: 1rem;
}

.title {
  composes: small from '../../globalStyles/typography.module.css';
  margin-bottom: 5px;
}

.description {
  composes: xxSmall from '../../globalStyles/typography.module.css';
  color: var(--text-color-secondary);
}

@media only screen and (max-width: 590px) {
  .card {
    flex-direction: column;
  }

  .info {
    margin: 1rem 0 0;
  }

  .title,
  .description {
    text-align: center;
  }
}
