.container {
  background-color: var(--bg-color-primary);
  padding: 1.5rem 1rem;
}

.wrapper {
  composes: displayGrid from '../../globalStyles/layout.module.css';
  composes: marginCenter from '../../globalStyles/layout.module.css';
  composes: gapRegular from '../../globalStyles/layout.module.css';
  composes: alignItemsCenter from '../../globalStyles/layout.module.css';
  grid-template-columns: minmax(auto, 1fr) 34px 34px;
}

.navigation {
  composes: displayFlex from '../../globalStyles/layout.module.css';
  composes: alignItemsCenter from '../../globalStyles/layout.module.css';
}

.button {
  display: block;
  padding: 5px;
}

.container > nav,
.wrapper > div,
.wrapper > button:nth-child(1) {
  display: none;
}

@media only screen and (max-width: 930px) {
  .wrapper {
    grid-template-columns: minmax(auto, 1fr) repeat(2, 34px);
  }

  .wrapper > a:nth-child(4) {
    display: block;
  }

  .wrapper > div {
    display: none;
  }
}

@media only screen and (max-width: 830px) {
  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .wrapper {
    grid-template-columns: 30px minmax(auto, 1fr) 30px;
  }

  .navigation {
    justify-self: center;
  }

  .navigation ul,
  .wrapper > button:nth-child(5) {
    display: none;
  }

  .container > nav,
  .wrapper > button:nth-child(1) {
    display: block;
  }
}
