.header {
  background-color: var(--bg-color-primary);
  padding: 1.5rem 0;
}

.wrapper {
  composes: wrapperGrid from '../../globalStyles/layout.module.css';
  composes: gapRegular from '../../globalStyles/layout.module.css';
  composes: alignItemsCenter from '../../globalStyles/layout.module.css';
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 11.25rem) 34px;
}

.navigation {
  composes: containerFlex from '../../globalStyles/layout.module.css';
  composes: alignItemsCenter from '../../globalStyles/layout.module.css';
}

.button {
  display: block;
  padding: 5px;
}

.header > nav,
.wrapper > a:nth-child(4),
.wrapper > button:nth-child(1) {
  display: none;
}

@media only screen and (max-width: 930px) {
  .wrapper {
    grid-template-columns: minmax(auto, 1fr) repeat(2, 34px);
  }

  .wrapper > a:nth-child(4) {
    display: block;
  }

  .wrapper > div {
    display: none;
  }
}

@media only screen and (max-width: 830px) {
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .wrapper {
    grid-template-columns: 34px minmax(auto, 1fr) 34px;
  }

  .navigation {
    justify-self: center;
  }

  .navigation ul,
  .wrapper > a:nth-child(4) {
    display: none;
  }

  .header > nav,
  .wrapper > button:nth-child(1) {
    display: block;
  }
}
