.container {
  composes: contentSeparatorTop from '../../globalStyles/effect.module.css';
  background-color: var(--bg-color-primary);
  padding: 3.75rem 1rem 0;
}

.wrapper {
  composes: marginCenter from '../../globalStyles/layout.module.css';
  max-width: 33.75rem;
}

.title {
  composes: xLarge from '../../globalStyles/typography.module.css';
  composes: centralize from '../../globalStyles/typography.module.css';
  margin-top: 1.875rem;
}

.description {
  composes: centralize from '../../globalStyles/typography.module.css';
  margin-top: 0.625rem;
}
