.container {
  composes: contentSeparatorTop from '../../globalStyles/effect.module.css';
  background-color: var(--bg-color-primary);
  padding: 3.75rem 1rem 0;
}

.wrapper {
  composes: relative from '../../globalStyles/layout.module.css';
  composes: marginCenter from '../../globalStyles/layout.module.css';
  max-width: 33.75rem;
}

.icon {
  composes: absolute from '../../globalStyles/layout.module.css';
  width: 1rem;
}

.iconCross {
  composes: icon;
  display: block;
  padding: 0.1rem;
  top: 1rem;
  right: 1rem;
}

.iconSearch {
  composes: icon;
  top: 1.05rem;
  left: 1.05rem;
}

.title {
  composes: xLarge from '../../globalStyles/typography.module.css';
  composes: centralize from '../../globalStyles/typography.module.css';
  margin-top: 1.875rem;
}

.description {
  composes: centralize from '../../globalStyles/typography.module.css';
  margin-top: 0.625rem;
}
