<<<<<<< HEAD
.container {
  composes: contentSeparatorTop from '../../globalStyles/effect.module.css';
  background-color: var(--bg-color-primary);
  padding: 3.75rem 1rem 0;
}

.wrapper {
  composes: relative from '../../globalStyles/layout.module.css';
  composes: marginCenter from '../../globalStyles/layout.module.css';
  max-width: 33.75rem;
=======
.wrapper {
  composes: relative from '../../globalStyles/layout.module.css';
>>>>>>> f5ec14cea64d99f72f3336c4b775be9df4f3a1af
}

.icon {
  composes: absolute from '../../globalStyles/layout.module.css';
  composes: width1 from '../../globalStyles/layout.module.css';
}

.iconCross {
  composes: icon;
  display: block;
  padding: 0.1rem;
  top: 1rem;
  right: 1rem;
}

<<<<<<< HEAD
.iconSearch {
=======
.iconCrossSecondary {
  composes: icon;
  display: none;
  padding: 0.1rem;
  top: 0.45rem;
  right: 0.5rem;
}

.iconSearchPrimary {
>>>>>>> f5ec14cea64d99f72f3336c4b775be9df4f3a1af
  composes: icon;
  top: 1.05rem;
  left: 1.05rem;
}

<<<<<<< HEAD
.title {
  composes: xLarge from '../../globalStyles/typography.module.css';
  composes: centralize from '../../globalStyles/typography.module.css';
  margin-top: 1.875rem;
}

.description {
  composes: centralize from '../../globalStyles/typography.module.css';
  margin-top: 0.625rem;
=======
.iconSearchSecondary {
  composes: icon;
  top: 0.5rem;
  left: 0.5rem;
}

.active {
  display: block;
>>>>>>> f5ec14cea64d99f72f3336c4b775be9df4f3a1af
}
