.wrapper {
  composes: marginCenter from '../../globalStyles/layout.module.css';
  composes: width75 from '../../globalStyles/layout.module.css';
}

.container {
  padding: 3.75rem 1rem;
  background-color: var(--bg-color-primary);
}

.containerTopBorder {
  composes: container;
  composes: contentSeparatorTop from '../../globalStyles/effect.module.css';
}

.title {
  composes: xLarge from '../../globalStyles/typography.module.css';
  composes: capsLock from '../../globalStyles/typography.module.css';
  composes: subtleLetterSpacing from '../../globalStyles/typography.module.css';
  margin-bottom: 1.875rem;
}

.titleGreen {
  composes: title;
  color: var(--standOut-color);
}
