.containerPrimary {
  background: var(--bg-color-secondary) url('../../assets/crosslife.jpg') no-repeat center;
  background-size: cover;
  padding: 10rem 1rem;
}

.containerSecondary {
  background: var(--bg-color-secondary);
  padding: 7rem 1rem;
}

.wrapper {
  composes: marginCenter from '../../globalStyles/layout.module.css';
  composes: width44 from '../../globalStyles/layout.module.css';
}

.image{
  composes: marginCenter from '../../globalStyles/layout.module.css';
  width: 8.5rem;
  height: 8.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
  box-shadow: 0 0 0 4px var(--bg-color-secondary), 0 0 0 6px var(--standOut-color);
}

.title{
  composes: centralize from '../../globalStyles/typography.module.css';
  line-height: 1;
}

.titlePrimary {
  composes: title;
  composes: xxLarge from '../../globalStyles/typography.module.css';
  composes: standOutPrimary from '../../globalStyles/typography.module.css';
  color: #fff;
}

.titleSecondary {
  composes: title;
  composes: xLarge from '../../globalStyles/typography.module.css';
  composes: standOutSecundary from '../../globalStyles/typography.module.css';
}

.description {
  composes: subtleLineHeight from '../../globalStyles/typography.module.css';
  composes: small from '../../globalStyles/typography.module.css';
  composes: centralize from '../../globalStyles/typography.module.css';
  margin: 0.625rem 0 1.25rem;
  color: #fff;
}

.descriptionSecondary {
  composes: small from '../../globalStyles/typography.module.css';
  composes: subtleLineHeight from '../../globalStyles/typography.module.css';
  composes: centralize from '../../globalStyles/typography.module.css';
  margin: 0.375rem 0 1rem;
  color: var(--text-color-secondary);
}

.callToAction {
  composes: subtleBorderRadius from '../../globalStyles/effect.module.css';
  composes: marginCenter from '../../globalStyles/layout.module.css';
  composes: centralize from '../../globalStyles/typography.module.css';
  display: block;
  background-color: var(--standOut-color);
  max-width: 9rem;
  padding: 0.8rem 1rem;
  transition: transform 0.4s ease;
  color: #fff;
}

.callToAction:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .containerPrimary,
  .containerSecondary {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .titlePrimaryPrimary {
    font-size: 2rem;
  }

  .descriptionPrimary,
  .descriptionSecondary {
    font-size: 1rem;
  }
}
