.list {
  composes: containerFlex from '../../globalStyles/layout.module.css';
}

.list > li {
  margin: 0 0.4rem;
}

.list > li:nth-child(1) {
  margin-left: 1rem;
}

.listItem {
  composes: capitalize from '../../globalStyles/typography.module.css';
  padding: 1rem 0.5rem;
}

.listItem:hover {
  color: var(--text-color-secondary);
}
