.nav {
  composes: contentSeparatorTop from '../../globalStyles/effect.module.css';
  composes: absolute from '../../globalStyles/layout.module.css';
  composes: widthAllSpace from '../../globalStyles/layout.module.css';
  height: calc(100vh - 69px);
  overflow: scroll;
  padding: 1.5rem 1.25rem;
  background-color: var(--bg-color-primary);
  top: 69px;
  left: 0;
  z-index: 10;
}

.listItem {
  composes: small from '../../globalStyles/typography.module.css';
  composes: bold from '../../globalStyles/typography.module.css';
  composes: capitalize from '../../globalStyles/typography.module.css';
  composes: displayFlex from '../../globalStyles/layout.module.css';
  composes: alignItemsCenter from '../../globalStyles/layout.module.css';
  composes: spaceBetween from '../../globalStyles/layout.module.css';
  padding: 1rem 0;
}

.icon {
  composes: width1 from '../../globalStyles/layout.module.css';
}

@media only screen and (max-width: 830px) {
  .noScroll {
    overflow-y: hidden;
  }
}
