@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 100%;
  color: var(--text-color-primary);
}

:root {
  --bg-color-primary: #fff;
  --bg-color-secondary: #d9e0e6;
  --text-color-primary: #191c20;
  --text-color-secondary: #6be067;
  --color-error: #f31;
}

[data-theme='dark'] {
  --bg-color-primary: #13161b;
  --bg-color-secondary: #191c20;
  --text-color-primary: #fff;
}
